:root
{
    color-scheme: light;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body
{
    background: linear-gradient(rgba(173, 163, 167, 0.9), rgba(173, 163, 167, 0.9)), url('../images/hexagonal.jpg');
    background-repeat: repeat;
    background-position: top center;
    min-height: 100%;

    max-width: 1280px;
    margin: auto;
    padding: 16px;
}

header
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: space-between;
}

header a
{
    background-color: rgb(128, 156, 115);
    color : white;
    max-width: 500px;
    border-radius: 5px;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    font-size: x-large;
}

img
{
    max-width: 100%;
}

li
{
    font-size: 120%;
}

pre
{
    color : rgb(255, 255, 255) ;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    padding: 8px;
}

h1
{
    background-color: rgb(0, 0, 0);
    color : white;
    max-width: 500px;
    border-radius: 5px;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    font-size: xx-large;
}

h2
{
    color: black;
}

img
{
    border-radius: 5px;
}

.SourceLink
{
    text-decoration: underline;
    font-size: x-large;
    color : blue
}

article
{
    background-color: white;
    color : black;
    border-radius: 5px;
    padding: 8px;
    text-decoration: none;
}